In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Replace the path with the correct path for your data.
df_tm = pd.read_csv('player_data_Sept2017.csv', index_col=0, parse_dates=True)


# Note the warning about dtypes.

In [3]:
df_tm.loc[df_tm['Position'].str.contains('Striker', case=False), 'Position'] = 'Striker'
df_tm.loc[df_tm['Position'].str.contains('Midfield', case=False), 'Position'] ='Midfielder'
df_tm.loc[df_tm['Position'].str.contains('Defence', case=False), 'Position'] = 'Defender'

In [4]:
df_tm = df_tm.rename(columns={'Current.market.value': 'current_market_value', 'Current.club': 'current_club','Highest.market.value': 'highest_market_value', 'Place.of.birth': 'place_of_birth', 'Date.of.birth': 'date_of_birth', 'Country.of.birth': 'country_of_birth','Birth.country.code': 'birth_country_code','Continent.specific': 'continent_specific'})

In [5]:
df_tm.head()

,Name,date_of_birth,place_of_birth,Age,Height,Shoe.size,Nationality,Position,Foot,current_club,current_market_value,highest_market_value,City.of.birth,country_of_birth,birth_country_code,Continent,continent_specific
0,Ederson,"Aug 17, 1993","Osasco (SP), Brazil",24,1.88,NaN,"Brazil, Portugal",Goalkeeper,left,Manchester City,22000000.0,22000000.0,Osasco (SP),Brazil,BR,South America,Brazil
1,Claudio Bravo,"Apr 13, 1983","Viluco, Chile",34,1.84,NaN,"Chile, Spain",Goalkeeper,right,Manchester City,8000000.0,15000000.0,Viluco,Chile,CL,South America,Andean
2,John Stones,"May 28, 1994","Barnsley, England",23,1.88,NaN,England,Defender,right,Manchester City,35000000.0,35000000.0,Barnsley,United Kingdom,GB,Europe,Western Europe
3,Nicolas Otamendi,"Feb 12, 1988","Buenos Aires, Argentina",29,1.83,NaN,Argentina,Defender,right,Manchester City,30000000.0,32000000.0,Buenos Aires,Argentina,AR,South America,South
4,Vincent Kompany,"Apr 10, 1986","Uccle, Belgium",31,1.93,NaN,"Belgium, Congo DR",Defender,right,Manchester City,22000000.0,35000000.0,Uccle,Belgium,BE,Europe,Central Europe

In [6]:
def tteam (current_club):
    if 'Manchester United' in current_club:
        return 1
    elif 'FC Barcelona' in current_club:
        return 1
    elif 'Real Madrid' in current_club:
        return 1
    elif 'Bayern Munich' in current_club:
        return 1
    elif 'Manchester City' in current_club:
        return 1
    elif 'Arsenal FC' in current_club:
        return 1
    elif 'Chelsea FC' in current_club:
        return 1
    elif 'Liverpool FC' in current_club:
        return 1
    elif 'Juventus FC' in current_club:
        return 1
    elif 'Tottenham Hotspur' in current_club:
        return 1
    elif 'Paris Saint-Germain' in current_club:
        return 1
    elif 'Borussia Dortmund' in current_club:
        return 1
    elif 'AC Milan' in current_club:
        return 1
    elif 'Atletico Madrid' in current_club:
        return 1
    elif 'West Ham United' in current_club:
        return 1
    else:
        return 0
    
df_tm['top_team'] = df_tm['current_club'].apply(tteam)

In [7]:
df_tm.head()

,Name,date_of_birth,place_of_birth,Age,Height,Shoe.size,Nationality,Position,Foot,current_club,current_market_value,highest_market_value,City.of.birth,country_of_birth,birth_country_code,Continent,continent_specific,top_team
0,Ederson,"Aug 17, 1993","Osasco (SP), Brazil",24,1.88,NaN,"Brazil, Portugal",Goalkeeper,left,Manchester City,22000000.0,22000000.0,Osasco (SP),Brazil,BR,South America,Brazil,1
1,Claudio Bravo,"Apr 13, 1983","Viluco, Chile",34,1.84,NaN,"Chile, Spain",Goalkeeper,right,Manchester City,8000000.0,15000000.0,Viluco,Chile,CL,South America,Andean,1
2,John Stones,"May 28, 1994","Barnsley, England",23,1.88,NaN,England,Defender,right,Manchester City,35000000.0,35000000.0,Barnsley,United Kingdom,GB,Europe,Western Europe,1
3,Nicolas Otamendi,"Feb 12, 1988","Buenos Aires, Argentina",29,1.83,NaN,Argentina,Defender,right,Manchester City,30000000.0,32000000.0,Buenos Aires,Argentina,AR,South America,South,1
4,Vincent Kompany,"Apr 10, 1986","Uccle, Belgium",31,1.93,NaN,"Belgium, Congo DR",Defender,right,Manchester City,22000000.0,35000000.0,Uccle,Belgium,BE,Europe,Central Europe,1

In [8]:
df_tm['birth_country_code'] = df_tm['birth_country_code'].astype(str)

In [9]:
def wcaf (birth_country_code):
    if 'AO' in birth_country_code:
        return True
    elif 'BF' in birth_country_code:
        return True
    elif 'BJ' in birth_country_code:
        return True
    elif 'CM' in birth_country_code:
        return True
    elif 'CV' in birth_country_code:
        return True
    elif 'CF' in birth_country_code:
        return True
    elif 'TD' in birth_country_code:
        return True
    elif 'CD' in birth_country_code:
        return True
    elif 'CG' in birth_country_code:
        return True
    elif 'CI' in birth_country_code:
        return True
    elif 'GQ' in birth_country_code:
        return True
    elif 'GA' in birth_country_code:
        return True
    elif 'GM' in birth_country_code:
        return True
    elif 'GH' in birth_country_code:
        return True
    elif 'GN' in birth_country_code:
        return True
    elif 'GW' in birth_country_code:   
        return True
    elif 'LR' in birth_country_code:
        return True
    elif 'ML' in birth_country_code:
        return True
    elif 'NE' in birth_country_code:
        return True
    elif 'NG' in birth_country_code:
        return True
    elif 'SN' in birth_country_code:
        return True
    elif 'ST' in birth_country_code:
        return True
    elif 'SL' in birth_country_code:
        return True
    elif 'TG' in birth_country_code:
        return True
    elif 'MR' in birth_country_code:
        return True
    elif 'SH' in birth_country_code:
        return True
    else:
        return False

In [10]:
df_tm['wc_africa'] = df_tm['birth_country_code'].apply(wcaf)

In [11]:
df_tm.head()

,Name,date_of_birth,place_of_birth,Age,Height,Shoe.size,Nationality,Position,Foot,current_club,current_market_value,highest_market_value,City.of.birth,country_of_birth,birth_country_code,Continent,continent_specific,top_team,wc_africa
0,Ederson,"Aug 17, 1993","Osasco (SP), Brazil",24,1.88,NaN,"Brazil, Portugal",Goalkeeper,left,Manchester City,22000000.0,22000000.0,Osasco (SP),Brazil,BR,South America,Brazil,1,False
1,Claudio Bravo,"Apr 13, 1983","Viluco, Chile",34,1.84,NaN,"Chile, Spain",Goalkeeper,right,Manchester City,8000000.0,15000000.0,Viluco,Chile,CL,South America,Andean,1,False
2,John Stones,"May 28, 1994","Barnsley, England",23,1.88,NaN,England,Defender,right,Manchester City,35000000.0,35000000.0,Barnsley,United Kingdom,GB,Europe,Western Europe,1,False
3,Nicolas Otamendi,"Feb 12, 1988","Buenos Aires, Argentina",29,1.83,NaN,Argentina,Defender,right,Manchester City,30000000.0,32000000.0,Buenos Aires,Argentina,AR,South America,South,1,False
4,Vincent Kompany,"Apr 10, 1986","Uccle, Belgium",31,1.93,NaN,"Belgium, Congo DR",Defender,right,Manchester City,22000000.0,35000000.0,Uccle,Belgium,BE,Europe,Central Europe,1,False

In [12]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

In [13]:
df_tm['Age'] = pd.to_numeric(df_tm['Age'], errors='coerce')

In [14]:
df_tm = df_tm[np.isfinite(df_tm['Age'])]

In [15]:
df_tm.describe()

,Age,Height,Shoe.size,current_market_value,highest_market_value,top_team
count,19345.000000,18067.000000,187.000000,1.657000e+04,1.663800e+04,19345.000000
mean,25.296666,1.812756,9.879679,1.600275e+06,2.428691e+06,0.022176
std,4.599232,0.068774,1.274318,4.767804e+06,5.897666e+06,0.147260
min,15.000000,0.010000,7.500000,2.500000e+04,2.500000e+04,0.000000
25%,22.000000,1.760000,9.000000,1.500000e+05,2.500000e+05,0.000000
50%,25.000000,1.810000,10.000000,4.000000e+05,6.000000e+05,0.000000
75%,28.000000,1.860000,10.500000,1.000000e+06,2.000000e+06,0.000000
max,50.000000,2.070000,13.500000,1.200000e+08,1.200000e+08,1.000000

In [16]:
df_tm = df_tm[np.isfinite(df_tm['Height'])]

In [17]:
df_tm.describe()

,Age,Height,Shoe.size,current_market_value,highest_market_value,top_team
count,18067.000000,18067.000000,186.000000,1.610400e+04,1.616700e+04,18067.000000
mean,25.569602,1.812756,9.884409,1.641451e+06,2.493781e+06,0.023579
std,4.546506,0.068774,1.276111,4.829907e+06,5.970295e+06,0.151737
min,15.000000,0.010000,7.500000,2.500000e+04,2.500000e+04,0.000000
25%,22.000000,1.760000,9.000000,1.750000e+05,2.500000e+05,0.000000
50%,25.000000,1.810000,10.000000,4.000000e+05,6.500000e+05,0.000000
75%,29.000000,1.860000,10.500000,1.000000e+06,2.000000e+06,0.000000
max,50.000000,2.070000,13.500000,1.200000e+08,1.200000e+08,1.000000

In [18]:
df_tm = df_tm[df_tm['highest_market_value'] >= 600000]

In [19]:
df_tm.head(n=100)

,Name,date_of_birth,place_of_birth,Age,Height,Shoe.size,Nationality,Position,Foot,current_club,current_market_value,highest_market_value,City.of.birth,country_of_birth,birth_country_code,Continent,continent_specific,top_team,wc_africa
0,Ederson,"Aug 17, 1993","Osasco (SP), Brazil",24.0,1.88,NaN,"Brazil, Portugal",Goalkeeper,left,Manchester City,22000000.0,22000000.0,Osasco (SP),Brazil,BR,South America,Brazil,1,False
1,Claudio Bravo,"Apr 13, 1983","Viluco, Chile",34.0,1.84,NaN,"Chile, Spain",Goalkeeper,right,Manchester City,8000000.0,15000000.0,Viluco,Chile,CL,South America,Andean,1,False
2,John Stones,"May 28, 1994","Barnsley, England",23.0,1.88,NaN,England,Defender,right,Manchester City,35000000.0,35000000.0,Barnsley,United Kingdom,GB,Europe,Western Europe,1,False
3,Nicolas Otamendi,"Feb 12, 1988","Buenos Aires, Argentina",29.0,1.83,NaN,Argentina,Defender,right,Manchester City,30000000.0,32000000.0,Buenos Aires,Argentina,AR,South America,South,1,False
4,Vincent Kompany,"Apr 10, 1986","Uccle, Belgium",31.0,1.93,NaN,"Belgium, Congo DR",Defender,right,Manchester City,22000000.0,35000000.0,Uccle,Belgium,BE,Europe,Central Europe,1,False
5,Eliaquim Mangala,"Feb 13, 1991","Colombes, France",26.0,1.87,NaN,"France, Belgium",Defender,left,Manchester City,15000000.0,35000000.0,Colombes,France,FR,Europe,Western Europe,1,False
6,Jason Denayer,"Jun 28, 1995","Brussel, Belgium",22.0,1.84,NaN,"Belgium, Congo DR",Defender,right,Manchester City,4000000.0,4000000.0,Brussel,Belgium,BE,Europe,Central Europe,1,False
8,Benjamin Mendy,"Jul 17, 1994","Longjumeau, France",23.0,1.85,NaN,"France, Senegal",Defender,left,Manchester City,30000000.0,30000000.0,Longjumeau,France,FR,Europe,Western Europe,1,False
9,Kyle Walker,"May 28, 1990","Sheffield, England",27.0,1.81,NaN,England,Defender,right,Manchester City,30000000.0,30000000.0,Sheffield,United Kingdom,GB,Europe,Western Europe,1,False
10,Danilo,"Jul 15, 1991","Bicas, Brazil",26.0,1.84,NaN,Brazil,Defender,right,Manchester City,18000000.0,25000000.0,Bicas,Brazil,BR,South America,Brazil,1,False
11,Fernandinho,"May 4, 1985","Londrina, Brazil",32.0,1.77,NaN,Brazil,Midfielder,right,Manchester City,18000000.0,32000000.0,Londrina,Brazil,BR,South America,Brazil,1,False
12,Ilkay Gundogan,"Oct 24, 1990","Gelsenkirchen, Germany",26.0,1.80,8.5,Germany,Midfielder,right,Manchester City,30000000.0,30000000.0,Gelsenkirchen,Germany,DE,Europe,Central Europe,1,False
13,Fabian Delph,"Nov 21, 1989","Bradford, England",27.0,1.74,NaN,"England, Guyana",Midfielder,left,Manchester City,8000000.0,10000000.0,Bradford,United Kingdom,GB,Europe,Western Europe,1,False
14,Yaya Toure,"May 13, 1983","Sekoura Bouake, Cote d'Ivoire",34.0,1.88,NaN,Cote d'Ivoire,Midfielder,right,Manchester City,8000000.0,36500000.0,Sekoura Bouake,Côte d'Ivoire,CI,Africa,West Africa,1,True
15,Kevin De Bruyne,"Jun 28, 1991","Drongen, Belgium",26.0,1.81,NaN,Belgium,Midfielder,right,Manchester City,65000000.0,65000000.0,Drongen,Belgium,BE,Europe,Central Europe,1,False
16,David Silva,"Jan 8, 1986","Arguineguin, Spain",31.0,1.70,NaN,Spain,Midfielder,left,Manchester City,30000000.0,50000000.0,Arguineguin,Spain,ES,Europe,Southern Europe,1,False
17,Oleksandr Zinchenko,"Dec 15, 1996","Radomyshl, Zhytomyr Region, Ukraine",20.0,1.75,NaN,Ukraine,Midfielder,left,Manchester City,4500000.0,4500000.0,Radomyshl,Ukraine,UA,Europe,Eastern Europe,1,False
18,Raheem Sterling,"Dec 8, 1994","Kingston, Jamaica",22.0,1.70,NaN,"England, Jamaica",Striker,right,Manchester City,45000000.0,50000000.0,Kingston,Jamaica,JM,North America,Caribbean,1,False
19,Leroy Sane,"Jan 11, 1996","Essen, Germany",21.0,1.84,NaN,"Germany, France",Striker,left,Manchester City,35000000.0,35000000.0,Essen,Germany,DE,Europe,Central Europe,1,False
20,Bernardo Silva,"Aug 10, 1994","Lisboa, Portugal",23.0,1.73,NaN,Portugal,Striker,left,Manchester City,40000000.0,40000000.0,Lisboa,Portugal,PT,Europe,Southern Europe,1,False
21,Sergio Aguero,"Jun 2, 1988","Buenos Aires, Argentina",29.0,1.73,NaN,"Argentina, Spain",Striker,right,Manchester City,65000000.0,65000000.0,Buenos Aires,Argentina,AR,South America,South,1,False
22,Gabriel Jesus,"Apr 3, 1997","Sao Paulo, Brazil",20.0,1.75,NaN,Brazil,Striker,right,Manchester City,30000000.0,30000000.0,Sao Paulo,Brazil,BR,South America,Brazil,1,False
23,Wilfried Bony,"Dec 10, 1988","Bingerville, Cote d'Ivoire",28.0,1.81,NaN,Cote d'Ivoire,Striker,right,Manchester City,18000000.0,25000000.0,Bingerville,Côte d'Ivoire,CI,Africa,West Africa,1,True
24,Thibaut Courtois,"May 11, 1992","Bree, Belgium",25.0,1.99,NaN,Belgium,Goalkeeper,left,Chelsea FC,40000000.0,40000000.0,Bree,Belgium,BE,Europe,Central Europe,1,False
25,Willy Caballero,"Sep 28, 1981","Entre Rios, Argentina",35.0,1.86,NaN,"Argentina, Spain",Goalkeeper,right,Chelsea FC,1500000.0,5000000.0,Entre Rios,Argentina,AR,South America,South,1,False
26,Eduardo,"Sep 19, 1982","Mirandela, Portugal",34.0,1.88,NaN,Portugal,Goalkeeper,right,Chelsea FC,1500000.0,10000000.0,Mirandela,Portugal,PT,Europe,Southern Europe,1,False
27,Matej Delac,"Aug 20, 1992","Gornji Vakuf-Uskoplje, Bosnia-Herzegovina",25.0,1.90,NaN,Croatia,Goalkeeper,right,Chelsea FC,900000.0,1500000.0,Gornji Vakuf-Uskoplje,Bosnia and Herzegovina,BA,Europe,Southeastern Europe,1,False
28,David Luiz,"Apr 22, 1987","Diadema, Brazil",30.0,1.89,NaN,"Brazil, Portugal",Defender,both,Chelsea FC,30000000.0,30000000.0,Diadema,Brazil,BR,South America,Brazil,1,False
29,Antonio Rudiger,"Mar 3, 1993","Berlin, Germany",24.0,1.91,NaN,"Germany, Sierra Leone",Defender,right,Chelsea FC,25000000.0,25000000.0,Berlin,Germany,DE,Europe,Central Europe,1,False
30,Andreas Christensen,"Apr 10, 1996","Allerod, Denmark",21.0,1.88,NaN,Denmark,Defender,right,Chelsea FC,18000000.0,18000000.0,Allerod,Denmark,DK,Europe,Northern Europe,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Romelu Lukaku,"May 13, 1993","Antwerpen, Belgium",24.0,1.91,NaN,"Belgium, Congo DR",Striker,left,Manchester United,60000000.0,60000000.0,Antwerpen,Belgium,BE,Europe,Central Europe,1,False
73,Anthony Martial,"Dec 5, 1995","Massy, France",21.0,1.83,NaN,"France, Guadeloupe",Striker,right,Manchester United,30000000.0,32000000.0,Massy,France,FR,Europe,Western Europe,1,False
74,Marcus Rashford,"Oct 31, 1997","Manchester, England",19.0,1.85,NaN,England,Striker,right,Manchester United,18000000.0,18000000.0,Manchester,United Kingdom,GB,Europe,Western Europe,1,False
75,Zlatan Ibrahimovic,"Oct 3, 1981","Malmo, Sweden",35.0,1.95,NaN,"Sweden, Bosnia-Herzegovina",Striker,both,Manchester United,10000000.0,46000000.0,Malmo,Sweden,SE,Europe,Northern Europe,1,False
76,James Wilson,"Dec 1, 1995","Biddulph, England",21.0,1.83,NaN,England,Striker,left,Manchester United,2000000.0,2000000.0,Biddulph,United Kingdom,GB,Europe,Western Europe,1,False
77,David Ospina,"Aug 31, 1988","Medellin, Colombia",28.0,1.83,NaN,Colombia,Goalkeeper,right,Arsenal FC,7000000.0,8000000.0,Medellin,Colombia,CO,South America,Caribbean,1,False
78,Petr Cech,"May 20, 1982","Plzen, CSSR",35.0,1.96,NaN,Czech Republic,Goalkeeper,left,Arsenal FC,7000000.0,28500000.0,Plzen,Czechia,CZ,Europe,Central Europe,1,False
80,Shkodran Mustafi,"Apr 17, 1992","Bad Hersfeld, Germany",25.0,1.84,NaN,"Germany, Albania",Defender,right,Arsenal FC,30000000.0,30000000.0,Bad Hersfeld,Germany,DE,Europe,Central Europe,1,False
81,Laurent Koscielny,"Sep 10, 1985","Tulle, France",31.0,1.86,NaN,"France, Poland",Defender,right,Arsenal FC,22000000.0,22000000.0,Tulle,France,FR,Europe,Western Europe,1,False
82,Rob Holding,"Sep 20, 1995","Tameside, England",21.0,1.89,NaN,England,Defender,right,Arsenal FC,7000000.0,7000000.0,Tameside,United Kingdom,GB,Europe,Western Europe,1,False
83,Per Mertesacker,"Sep 29, 1984","Hannover, Germany",32.0,1.98,NaN,Germany,Defender,right,Arsenal FC,6000000.0,20000000.0,Hannover,Germany,DE,Europe,Central Europe,1,False
84,Sead Kolasinac,"Jun 20, 1993","Karlsruhe, Germany",24.0,1.83,NaN,"Bosnia-Herzegovina, Germany",Defender,left,Arsenal FC,15000000.0,15000000.0,Karlsruhe,Germany,DE,Europe,Central Europe,1,False
85,Nacho Monreal,"Feb 26, 1986","Pamplona, Spain",31.0,1.79,NaN,Spain,Defender,left,Arsenal FC,13000000.0,15000000.0,Pamplona,Spain,ES,Europe,Southern Europe,1,False
86,Kieran Gibbs,"Sep 26, 1989","London, England",27.0,1.79,NaN,England,Defender,left,Arsenal FC,10000000.0,14000000.0,London,United Kingdom,GB,Europe,Western Europe,1,False
87,Hector Bellerin,"Mar 19, 1995","Badalona, Spain",22.0,1.78,NaN,Spain,Defender,right,Arsenal FC,30000000.0,30000000.0,Badalona,Spain,ES,Europe,Southern Europe,1,False
88,Calum Chambers,"Jan 20, 1995","Petersfield, England",22.0,1.83,NaN,England,Defender,right,Arsenal FC,14000000.0,14000000.0,Petersfield,United Kingdom,GB,Europe,Western Europe,1,False
89,Mathieu Debuchy,"Jul 28, 1985","Fretin, France",32.0,1.77,NaN,France,Defender,right,Arsenal FC,3500000.0,15000000.0,Fretin,France,FR,Europe,Western Europe,1,False
90,Granit Xhaka,"Sep 27, 1992","Basel, Switzerland",24.0,1.85,NaN,"Switzerland, Albania",Midfielder,left,Arsenal FC,35000000.0,35000000.0,Basel,Switzerland,CH,Europe,Central Europe,1,False
91,Francis Coquelin,"May 13, 1991","Laval, France",26.0,1.78,NaN,France,Midfielder,right,Arsenal FC,15000000.0,15000000.0,Laval,France,FR,Europe,Western Europe,1,False
92,Mohamed Elneny,"Jul 11, 1992","Mahalla, Egypt",25.0,1.80,NaN,Egypt,Midfielder,right,Arsenal FC,10000000.0,10000000.0,Mahalla,Egypt,EG,Africa,North Africa,1,False
93,Aaron Ramsey,"Dec 26, 1990","Caerphilly, Wales",26.0,1.82,NaN,Wales,Midfielder,both,Arsenal FC,35000000.0,35000000.0,Caerphilly,United Kingdom,GB,Europe,Western Europe,1,False
94,Jack Wilshere,"Jan 1, 1992","Stevenage, England",25.0,1.72,NaN,England,Midfielder,left,Arsenal FC,18000000.0,33000000.0,Stevenage,United Kingdom,GB,Europe,Western Europe,1,False
95,Santi Cazorla,"Dec 13, 1984","Lugo de Llanera, Spain",32.0,1.68,NaN,Spain,Midfielder,both,Arsenal FC,12000000.0,30000000.0,Lugo de Llanera,Spain,ES,Europe,Southern Europe,1,False
96,Alex Oxlade-Chamberlain,"Aug 15, 1993","Portsmouth, England",24.0,1.75,NaN,"England, Jamaica",Midfielder,right,Arsenal FC,22000000.0,22000000.0,Portsmouth,United Kingdom,GB,Europe,Western Europe,1,False
97,Mesut Ozil,"Oct 15, 1988","Gelsenkirchen, Germany",28.0,1.80,NaN,Germany,Midfielder,left,Arsenal FC,50000000.0,50000000.0,Gelsenkirchen,Germany,DE,Europe,Central Europe,1,False
98,Alexis Sanchez,"Dec 19, 1988","Tocopilla, Chile",28.0,1.69,NaN,Chile,Striker,right,Arsenal FC,65000000.0,65000000.0,Tocopilla,Chile,CL,South America,Andean,1,False
99,Alex Iwobi,"May 3, 1996","Lagos, Nigeria",21.0,1.80,NaN,"Nigeria, England",Striker,right,Arsenal FC,10000000.0,10000000.0,Lagos,Nigeria,NG,Africa,West Africa,1,True
100,Theo Walcott,"Mar 16, 1989","London, England",28.0,1.76,NaN,England,Striker,both,Arsenal FC,20000000.0,28000000.0,London,United Kingdom,GB,Europe,Western Europe,1,False
101,Joel Campbell,"Jun 26, 1992","San Jose, Costa Rica",25.0,1.78,NaN,Costa Rica,Striker,left,Arsenal FC,6000000.0,8000000.0,San Jose,Costa Rica,CR,North America,Central America,1,False
102,Alexandre Lacazette,"May 28, 1991","Lyon, France",26.0,1.75,NaN,"France, Guadeloupe",Striker,right,Arsenal FC,50000000.0,50000000.0,Lyon,France,FR,Europe,Western Europe,1,False

In [20]:
df_tm.describe()

,Age,Height,Shoe.size,current_market_value,highest_market_value,top_team
count,8689.000000,8689.000000,157.000000,8.677000e+03,8.689000e+03,8689.000000
mean,27.311198,1.814823,9.875796,2.870019e+06,4.425131e+06,0.044654
std,4.237381,0.066703,1.228215,6.325241e+06,7.631491e+06,0.206555
min,17.000000,1.580000,7.500000,2.500000e+04,6.000000e+05,0.000000
25%,24.000000,1.770000,9.000000,5.500000e+05,9.000000e+05,0.000000
50%,27.000000,1.820000,10.000000,1.000000e+06,1.800000e+06,0.000000
75%,30.000000,1.860000,10.500000,2.500000e+06,4.500000e+06,0.000000
max,43.000000,2.070000,13.500000,1.200000e+08,1.200000e+08,1.000000

In [21]:
df_tm['birth_month'] = df_tm['date_of_birth'].astype(str).str[0:3]

In [22]:
categorical = df_tm.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

Name
8425
date_of_birth
4531
place_of_birth
4158
Nationality
746
Position
4
Foot
4
current_club
644
City.of.birth
3993
country_of_birth
125
birth_country_code
126
Continent
6
continent_specific
24
birth_month
12

In [23]:
# Convert ID and Interest Rate to numeric.
#y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
#y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
df_tm.drop(['Name','Shoe.size','Nationality', 'current_club', 'City.of.birth', 'birth_country_code'], 1, inplace=True)

In [26]:
df_tm.drop(['date_of_birth', 'place_of_birth'], 1, inplace=True)

In [27]:
categorical = df_tm.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

Position
4
Foot
4
country_of_birth
125
Continent
6
continent_specific
24
birth_month
12

In [28]:
df_tm.dropna()

,Age,Height,Position,Foot,current_market_value,highest_market_value,country_of_birth,Continent,continent_specific,top_team,wc_africa,birth_month
0,24.0,1.88,Goalkeeper,left,22000000.0,22000000.0,Brazil,South America,Brazil,1,False,Aug
1,34.0,1.84,Goalkeeper,right,8000000.0,15000000.0,Chile,South America,Andean,1,False,Apr
2,23.0,1.88,Defender,right,35000000.0,35000000.0,United Kingdom,Europe,Western Europe,1,False,May
3,29.0,1.83,Defender,right,30000000.0,32000000.0,Argentina,South America,South,1,False,Feb
4,31.0,1.93,Defender,right,22000000.0,35000000.0,Belgium,Europe,Central Europe,1,False,Apr
5,26.0,1.87,Defender,left,15000000.0,35000000.0,France,Europe,Western Europe,1,False,Feb
6,22.0,1.84,Defender,right,4000000.0,4000000.0,Belgium,Europe,Central Europe,1,False,Jun
8,23.0,1.85,Defender,left,30000000.0,30000000.0,France,Europe,Western Europe,1,False,Jul
9,27.0,1.81,Defender,right,30000000.0,30000000.0,United Kingdom,Europe,Western Europe,1,False,May
10,26.0,1.84,Defender,right,18000000.0,25000000.0,Brazil,South America,Brazil,1,False,Jul
11,32.0,1.77,Midfielder,right,18000000.0,32000000.0,Brazil,South America,Brazil,1,False,May
12,26.0,1.80,Midfielder,right,30000000.0,30000000.0,Germany,Europe,Central Europe,1,False,Oct
13,27.0,1.74,Midfielder,left,8000000.0,10000000.0,United Kingdom,Europe,Western Europe,1,False,Nov
14,34.0,1.88,Midfielder,right,8000000.0,36500000.0,Côte d'Ivoire,Africa,West Africa,1,True,May
15,26.0,1.81,Midfielder,right,65000000.0,65000000.0,Belgium,Europe,Central Europe,1,False,Jun
16,31.0,1.70,Midfielder,left,30000000.0,50000000.0,Spain,Europe,Southern Europe,1,False,Jan
17,20.0,1.75,Midfielder,left,4500000.0,4500000.0,Ukraine,Europe,Eastern Europe,1,False,Dec
18,22.0,1.70,Striker,right,45000000.0,50000000.0,Jamaica,North America,Caribbean,1,False,Dec
19,21.0,1.84,Striker,left,35000000.0,35000000.0,Germany,Europe,Central Europe,1,False,Jan
20,23.0,1.73,Striker,left,40000000.0,40000000.0,Portugal,Europe,Southern Europe,1,False,Aug
21,29.0,1.73,Striker,right,65000000.0,65000000.0,Argentina,South America,South,1,False,Jun
22,20.0,1.75,Striker,right,30000000.0,30000000.0,Brazil,South America,Brazil,1,False,Apr
23,28.0,1.81,Striker,right,18000000.0,25000000.0,Côte d'Ivoire,Africa,West Africa,1,True,Dec
24,25.0,1.99,Goalkeeper,left,40000000.0,40000000.0,Belgium,Europe,Central Europe,1,False,May
25,35.0,1.86,Goalkeeper,right,1500000.0,5000000.0,Argentina,South America,South,1,False,Sep
26,34.0,1.88,Goalkeeper,right,1500000.0,10000000.0,Portugal,Europe,Southern Europe,1,False,Sep
27,25.0,1.90,Goalkeeper,right,900000.0,1500000.0,Bosnia and Herzegovina,Europe,Southeastern Europe,1,False,Aug
28,30.0,1.89,Defender,both,30000000.0,30000000.0,Brazil,South America,Brazil,1,False,Apr
29,24.0,1.91,Defender,right,25000000.0,25000000.0,Germany,Europe,Central Europe,1,False,Mar
30,21.0,1.88,Defender,right,18000000.0,18000000.0,Denmark,Europe,Northern Europe,1,False,Apr
...,...,...,...,...,...,...,...,...,...,...,...,...
19260,31.0,1.80,Defender,right,300000.0,800000.0,Greece,Europe,Southeastern Europe,0,False,Jul
19263,26.0,1.87,Midfielder,right,300000.0,1000000.0,Nigeria,Africa,West Africa,0,True,Jul
19264,27.0,1.83,Midfielder,right,250000.0,600000.0,Greece,Europe,Southeastern Europe,0,False,Apr
19268,24.0,1.77,Midfielder,right,500000.0,2000000.0,Guinea-Bissau,Africa,West Africa,0,True,Sep
19269,30.0,1.75,Midfielder,both,450000.0,1500000.0,Brazil,South America,Brazil,0,False,Sep
19272,30.0,1.80,Striker,left,250000.0,1500000.0,France,Europe,Western Europe,0,False,Oct
19273,23.0,1.82,Striker,left,600000.0,1500000.0,Guinea-Bissau,Africa,West Africa,0,True,Sep
19275,26.0,1.81,Striker,right,350000.0,800000.0,Greece,Europe,Southeastern Europe,0,False,Apr
19276,37.0,1.89,Striker,left,250000.0,8500000.0,Brazil,South America,Brazil,0,False,Jun
19284,37.0,1.83,Defender,right,150000.0,600000.0,Greece,Europe,Southeastern Europe,0,False,Mar
19290,29.0,1.80,Midfielder,right,450000.0,750000.0,Greece,Europe,Southeastern Europe,0,False,Sep
19291,31.0,1.88,Midfielder,right,400000.0,1500000.0,Greece,Europe,Southeastern Europe,0,False,Aug
19299,31.0,1.80,Striker,left,400000.0,2250000.0,Germany,Europe,Central Europe,0,False,Jul
19300,25.0,1.76,Striker,left,400000.0,750000.0,Portugal,Europe,Southern Europe,0,False,Jul
19301,32.0,1.68,Striker,right,350000.0,600000.0,Greece,Europe,Southeastern Europe,0,False,Jul
19302,26.0,1.83,Striker,right,700000.0,700000.0,Brazil,South America,Brazil,0,False,Feb
19313,29.0,1.86,Defender,left,350000.0,700000.0,Greece,Europe,Southeastern Europe,0,False,Sep
19316,30.0,1.77,Defender,right,350000.0,650000.0,Greece,Europe,Southeastern Europe,0,False,Feb
19318,31.0,1.85,Midfielder,right,350000.0,800000.0,Nigeria,Africa,West Africa,0,True,Dec
19319,32.0,1.78,Midfielder,right,350000.0,750000.0,Serbia,Europe,Southeastern Europe,0,False,Aug
19323,33.0,1.77,Midfielder,left,300000.0,750000.0,Spain,Europe,Southern Europe,0,False,Dec
19327,36.0,1.79,Striker,left,350000.0,3000000.0,Spain,Europe,Southern Europe,0,False,May
19338,24.0,1.97,Defender,Undefined,350000.0,700000.0,Ukraine,Europe,Eastern Europe,0,False,Feb
19341,34.0,1.83,Defender,right,250000.0,2000000.0,Greece,Europe,Southeastern Europe,0,False,Dec
19342,32.0,1.76,Defender,left,350000.0,700000.0,Brazil,South America,Brazil,0,False,Sep
19344,29.0,1.77,Defender,both,300000.0,1750000.0,Greece,Europe,Southeastern Europe,0,False,Apr
19350,26.0,1.76,Midfielder,left,450000.0,750000.0,Greece,Europe,Southeastern Europe,0,False,Aug
19353,25.0,1.80,Striker,right,400000.0,1500000.0,France,Europe,Western Europe,0,False,Jul
19354,26.0,1.88,Striker,right,250000.0,800000.0,Russian Federation,Europe,Eastern Europe,0,False,Sep
19355,29.0,1.86,Striker,right,200000.0,1000000.0,Poland,Europe,Central Europe,0,False,Mar

In [29]:
df_tm.tail()

,Age,Height,Position,Foot,current_market_value,highest_market_value,country_of_birth,Continent,continent_specific,top_team,wc_africa,birth_month
19344,29.0,1.77,Defender,both,300000.0,1750000.0,Greece,Europe,Southeastern Europe,0,False,Apr
19350,26.0,1.76,Midfielder,left,450000.0,750000.0,Greece,Europe,Southeastern Europe,0,False,Aug
19353,25.0,1.80,Striker,right,400000.0,1500000.0,France,Europe,Western Europe,0,False,Jul
19354,26.0,1.88,Striker,right,250000.0,800000.0,Russian Federation,Europe,Eastern Europe,0,False,Sep
19355,29.0,1.86,Striker,right,200000.0,1000000.0,Poland,Europe,Central Europe,0,False,Mar

In [30]:
df_tm = df_tm.sort_values('current_market_value')

In [31]:
df_tm.tail(n=100)

,Age,Height,Position,Foot,current_market_value,highest_market_value,country_of_birth,Continent,continent_specific,top_team,wc_africa,birth_month
4314,26.0,1.87,Defender,right,30000000.0,30000000.0,France,Europe,Western Europe,0,False,Jun
4376,26.0,1.89,Defender,right,30000000.0,30000000.0,Greece,Europe,Southeastern Europe,0,False,Jun
1200,25.0,1.84,Midfielder,right,30000000.0,30000000.0,Brazil,South America,Brazil,1,False,Feb
87,22.0,1.78,Defender,right,30000000.0,30000000.0,Spain,Europe,Southern Europe,1,False,Mar
1244,26.0,1.87,Defender,right,30000000.0,30000000.0,Serbia,Europe,Southeastern Europe,1,False,Jan
4296,30.0,1.75,Midfielder,left,30000000.0,30000000.0,France,Europe,Western Europe,1,False,Apr
1198,25.0,1.73,Defender,right,32000000.0,32000000.0,Spain,Europe,Southern Europe,1,False,Jan
43,29.0,1.75,Striker,right,32000000.0,35000000.0,Brazil,South America,Brazil,1,False,Aug
1220,28.0,1.70,Defender,left,32000000.0,35000000.0,Spain,Europe,Southern Europe,1,False,Mar
1233,20.0,1.78,Striker,both,33000000.0,33000000.0,France,Europe,Western Europe,1,False,May
40,30.0,1.79,Midfielder,right,35000000.0,55000000.0,Spain,Europe,Southern Europe,1,False,May
2210,23.0,1.87,Striker,right,35000000.0,35000000.0,Germany,Europe,Central Europe,1,False,Sep
4292,26.0,1.81,Defender,left,35000000.0,35000000.0,Brazil,South America,Brazil,1,False,Jan
19,21.0,1.84,Striker,left,35000000.0,35000000.0,Germany,Europe,Central Europe,1,False,Jan
3259,30.0,1.80,Midfielder,right,35000000.0,45000000.0,Chile,South America,Andean,1,False,May
2240,18.0,1.78,Striker,right,35000000.0,35000000.0,France,Europe,Western Europe,0,False,Dec
1193,24.0,1.91,Defender,right,35000000.0,35000000.0,France,Europe,Western Europe,1,False,Apr
68,28.0,1.77,Midfielder,both,35000000.0,37000000.0,Russian Federation,Europe,Eastern Europe,1,False,Jan
2,23.0,1.88,Defender,right,35000000.0,35000000.0,United Kingdom,Europe,Western Europe,1,False,May
2193,23.0,1.83,Defender,right,35000000.0,35000000.0,Brazil,South America,Brazil,1,False,May
93,26.0,1.82,Midfielder,both,35000000.0,35000000.0,United Kingdom,Europe,Western Europe,1,False,Dec
62,29.0,1.94,Midfielder,left,35000000.0,40000000.0,Serbia,Europe,Southeastern Europe,1,False,Aug
153,25.0,1.75,Striker,left,35000000.0,35000000.0,Egypt,Africa,North Africa,1,False,Jun
4332,26.0,1.63,Striker,right,35000000.0,35000000.0,Italy,Europe,Southern Europe,0,False,Jun
3289,28.0,1.80,Striker,right,35000000.0,50000000.0,Germany,Europe,Central Europe,1,False,May
110,28.0,1.86,Defender,right,35000000.0,35000000.0,Belgium,Europe,Central Europe,1,False,Mar
90,24.0,1.85,Midfielder,left,35000000.0,35000000.0,Switzerland,Europe,Central Europe,1,False,Sep
3247,28.0,1.92,Defender,right,38000000.0,45000000.0,Germany,Europe,Central Europe,1,False,Sep
3252,25.0,1.80,Defender,left,38000000.0,45000000.0,Austria,Europe,Central Europe,1,False,Jun
2212,25.0,1.72,Striker,right,38000000.0,38000000.0,Brazil,South America,Brazil,1,False,Aug
...,...,...,...,...,...,...,...,...,...,...,...,...
1252,25.0,1.77,Midfielder,right,60000000.0,60000000.0,Spain,Europe,Southern Europe,1,False,Jan
1225,29.0,1.89,Midfielder,right,60000000.0,60000000.0,Spain,Europe,Southern Europe,1,False,Jul
15,26.0,1.81,Midfielder,right,65000000.0,65000000.0,Belgium,Europe,Central Europe,1,False,Jun
98,28.0,1.69,Striker,right,65000000.0,65000000.0,Chile,South America,Andean,1,False,Dec
21,29.0,1.73,Striker,right,65000000.0,65000000.0,Argentina,South America,South,1,False,Jun
3296,28.0,1.87,Striker,right,65000000.0,65000000.0,France,Europe,Western Europe,1,False,Jun
4307,23.0,1.77,Striker,left,65000000.0,65000000.0,Argentina,South America,South,1,False,Nov
1202,27.0,1.82,Midfielder,both,70000000.0,70000000.0,Germany,Europe,Central Europe,1,False,Jan
64,24.0,1.91,Midfielder,both,75000000.0,80000000.0,France,Europe,Western Europe,1,False,Mar
41,26.0,1.73,Striker,both,75000000.0,75000000.0,Belgium,Europe,Central Europe,1,False,Jan
4308,29.0,1.84,Striker,right,75000000.0,75000000.0,France,Europe,Western Europe,1,False,Dec
3268,29.0,1.84,Striker,right,80000000.0,80000000.0,Poland,Europe,Central Europe,1,False,Aug
1209,28.0,1.83,Striker,left,80000000.0,90000000.0,United Kingdom,Europe,Western Europe,1,False,Jul
1259,26.0,1.75,Striker,left,80000000.0,80000000.0,France,Europe,Western Europe,1,False,Mar
1238,30.0,1.82,Striker,right,90000000.0,90000000.0,Uruguay,South America,South,1,False,Jan
1207,32.0,1.85,Striker,both,100000000.0,120000000.0,Portugal,Europe,Southern Europe,1,False,Feb
2209,25.0,1.75,Striker,both,100000000.0,100000000.0,Brazil,South America,Brazil,1,False,Feb
1236,30.0,1.70,Striker,left,120000000.0,120000000.0,Argentina,South America,South,1,False,Jun
9282,37.0,1.80,Striker,left,NaN,8000000.0,"Venezuela, Bolivarian Republic of",South America,Caribbean,0,False,May
9472,37.0,1.80,Striker,left,NaN,8000000.0,"Venezuela, Bolivarian Republic of",South America,Caribbean,0,False,May
10457,33.0,1.89,Goalkeeper,right,NaN,2500000.0,Brazil,South America,Brazil,0,False,Nov
10775,29.0,1.76,Defender,left,NaN,800000.0,Brazil,South America,Brazil,0,False,Feb
10902,30.0,1.75,Striker,right,NaN,600000.0,Brazil,South America,Brazil,0,False,Jun
10937,32.0,1.84,Striker,right,NaN,700000.0,Brazil,South America,Brazil,0,False,Jun
10949,35.0,1.84,Defender,right,NaN,900000.0,Brazil,South America,Brazil,0,False,Dec
11003,33.0,1.77,Striker,right,NaN,2000000.0,Brazil,South America,Brazil,0,False,Mar
11474,39.0,1.76,Midfielder,right,NaN,8800000.0,Russian Federation,Europe,Eastern Europe,0,False,Oct
16383,35.0,1.80,Defender,left,NaN,1500000.0,Argentina,South America,South,0,False,Apr
17075,35.0,1.70,Midfielder,right,NaN,2600000.0,Argentina,South America,South,0,False,Jan
17130,35.0,1.75,Midfielder,left,NaN,2500000.0,Argentina,South America,South,0,False,Aug

In [34]:
df_tm = df_tm[:-12]

In [36]:
df_tm.tail()

,Age,Height,Position,Foot,current_market_value,highest_market_value,country_of_birth,Continent,continent_specific,top_team,wc_africa,birth_month
1259,26.0,1.75,Striker,left,80000000.0,80000000.0,France,Europe,Western Europe,1,False,Mar
1238,30.0,1.82,Striker,right,90000000.0,90000000.0,Uruguay,South America,South,1,False,Jan
1207,32.0,1.85,Striker,both,100000000.0,120000000.0,Portugal,Europe,Southern Europe,1,False,Feb
2209,25.0,1.75,Striker,both,100000000.0,100000000.0,Brazil,South America,Brazil,1,False,Feb
1236,30.0,1.70,Striker,left,120000000.0,120000000.0,Argentina,South America,South,1,False,Jun

In [37]:
rfc = ensemble.RandomForestClassifier()
X = df_tm.drop('wc_africa', 1)
Y = df_tm['wc_africa']
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv=5)

array([ 0.99884793,  1.        ,  0.99884793,  0.99942363,  1.        ])

In [38]:
pd.get_dummies(df_tm)

,Age,Height,current_market_value,highest_market_value,top_team,wc_africa,Position_Defender,Position_Goalkeeper,Position_Midfielder,Position_Striker,...,birth_month_Dec,birth_month_Feb,birth_month_Jan,birth_month_Jul,birth_month_Jun,birth_month_Mar,birth_month_May,birth_month_Nov,birth_month_Oct,birth_month_Sep
12629,35.0,1.74,25000.0,600000.0,0,False,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10116,36.0,1.79,25000.0,1250000.0,0,False,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
7510,36.0,1.81,25000.0,800000.0,0,False,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
7544,38.0,1.84,25000.0,800000.0,0,False,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
12945,36.0,1.74,25000.0,1500000.0,0,False,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12726,34.0,1.82,25000.0,1000000.0,0,False,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
5477,36.0,1.97,25000.0,8000000.0,0,False,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
12807,35.0,1.80,25000.0,1300000.0,0,False,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12733,31.0,1.80,50000.0,2200000.0,0,False,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10772,34.0,1.91,50000.0,600000.0,0,False,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
11725,35.0,1.75,50000.0,1000000.0,0,False,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
15565,34.0,1.88,50000.0,600000.0,0,False,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15246,41.0,1.82,50000.0,3500000.0,0,False,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
11762,36.0,1.73,50000.0,2000000.0,0,False,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6530,35.0,1.81,50000.0,700000.0,0,False,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18512,37.0,1.82,50000.0,600000.0,0,False,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
11086,38.0,1.86,50000.0,6750000.0,0,False,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
18660,35.0,1.76,50000.0,1750000.0,0,False,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
6982,34.0,1.67,50000.0,1400000.0,0,False,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18524,34.0,1.86,50000.0,650000.0,0,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
18825,35.0,1.68,50000.0,725000.0,0,False,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
6864,38.0,1.71,50000.0,650000.0,0,False,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12890,33.0,1.82,50000.0,800000.0,0,False,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11537,34.0,1.80,50000.0,1800000.0,0,False,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15642,35.0,1.82,50000.0,2000000.0,0,False,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15866,34.0,1.88,50000.0,600000.0,0,False,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12783,33.0,1.83,50000.0,600000.0,0,False,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18541,36.0,1.77,50000.0,2400000.0,0,False,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
15846,36.0,1.80,50000.0,750000.0,0,False,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15839,36.0,1.89,50000.0,900000.0,0,False,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,25.0,1.71,45000000.0,45000000.0,1,False,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
102,26.0,1.75,50000000.0,50000000.0,1,False,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
46,24.0,1.89,50000000.0,50000000.0,1,False,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
38,26.0,1.68,50000000.0,50000000.0,1,False,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4424,24.0,1.81,50000000.0,50000000.0,0,False,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3267,27.0,1.86,50000000.0,75000000.0,1,False,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
47,28.0,1.86,50000000.0,50000000.0,1,False,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
97,28.0,1.80,50000000.0,50000000.0,1,False,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3263,26.0,1.80,50000000.0,80000000.0,1,False,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1211,29.0,1.84,60000000.0,60000000.0,1,False,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
128,24.0,1.88,60000000.0,60000000.0,1,False,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
72,24.0,1.91,60000000.0,60000000.0,1,False,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1252,25.0,1.77,60000000.0,60000000.0,1,False,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1225,29.0,1.89,60000000.0,60000000.0,1,False,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
15,26.0,1.81,65000000.0,65000000.0,1,False,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
98,28.0,1.69,65000000.0,65000000.0,1,False,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
21,29.0,1.73,65000000.0,65000000.0,1,False,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3296,28.0,1.87,65000000.0,65000000.0,1,False,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4307,23.0,1.77,65000000.0,65000000.0,1,False,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1202,27.0,1.82,70000000.0,70000000.0,1,False,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
64,24.0,1.91,75000000.0,80000000.0,1,False,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
41,26.0,1.73,75000000.0,75000000.0,1,False,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4308,29.0,1.84,75000000.0,75000000.0,1,False,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3268,29.0,1.84,80000000.0,80000000.0,1,False,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1209,28.0,1.83,80000000.0,90000000.0,1,False,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1259,26.0,1.75,80000000.0,80000000.0,1,False,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1238,30.0,1.82,90000000.0,90000000.0,1,False,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1207,32.0,1.85,100000000.0,120000000.0,1,False,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2209,25.0,1.75,100000000.0,100000000.0,1,False,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1236,30.0,1.70,120000000.0,120000000.0,1,False,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [40]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = df_tm.drop('top_team', 1)
Y = df_tm['top_team']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

array([ 0.95506912,  0.95506912,  0.95506912,  0.95506912,  0.9562212 ,
        0.95506912,  0.95852535,  0.96774194,  0.98385236,  0.5334873 ])

In [41]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = df_tm.drop('top_team', 1)
Y = df_tm['top_team']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

array([ 0.95506912,  0.95506912,  0.95506912,  0.95506912,  0.95391705,
        0.95391705,  0.96428571,  0.97465438,  0.98731257,  0.25288684])

In [42]:
df_tm.drop(['Height', 'birth_month'], 1, inplace=True)

In [44]:
df_tm.head()

,Age,Position,Foot,current_market_value,highest_market_value,country_of_birth,Continent,continent_specific,top_team,wc_africa
12629,35.0,Defender,left,25000.0,600000.0,Turkey,Asia,Western Asia,0,False
10116,36.0,Midfielder,right,25000.0,1250000.0,Brazil,South America,Brazil,0,False
7510,36.0,Striker,right,25000.0,800000.0,Japan,Asia,East Asia,0,False
7544,38.0,Striker,right,25000.0,800000.0,Japan,Asia,East Asia,0,False
12945,36.0,Midfielder,right,25000.0,1500000.0,Turkey,Asia,Western Asia,0,False

array([ 0.9562212 ,  0.95506912,  0.95391705,  0.95506912,  0.9562212 ,
        0.95737327,  0.95967742,  0.96198157,  0.85928489,  0.33487298])

In [ ]:
df_tm.drop(['Height', 'birth_month'], 1, inplace=True)

In [45]:
df_tm.drop(['Continent', 'continent_specific'], 1, inplace=True)

In [47]:
rfc = ensemble.RandomForestClassifier()
X = df_tm.drop('top_team', 1)
Y = df_tm['top_team']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

array([ 0.9562212 ,  0.95506912,  0.95506912,  0.95506912,  0.95852535,
        0.9562212 ,  0.95967742,  0.97235023,  0.96078431,  0.24364896])